<div ng-init="ngOnInit()"
     class="box-body">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{'TITLE_CATEGORY' | translate}}</th>
            <th>{{'TITLE_FOLLOWED_TIME' | translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="followingCategory in loadFollowingCategoriesResult.records"
            ng-init="category = ngGetCategory(followingCategory.categoryId)">
            <td>
                <a href
                   ng-click="ngOnTopicClicked(topic.id)">{{category.name}}</a>
            </td>
            <td>
                <a href>{{followingCategory.createdTime}}</a>
            </td>
            <td>
                <button class="btn btn-info"
                        ng-click="ngOnTopicClicked(topic.id)">
                    <span class="fa fa-eye"></span>
                </button>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="box-footer text-center">
    <ul uib-pagination
        total-items="loadFollowingCategoriesResult.total"
        ng-model="loadFollowingCategoriesCondition.pagination.page"
        ng-change="ngOnPageChanged()"></ul>
</div>