<nav class="navbar navbar-inverse no-bottom-margin">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href
               ng-click="ngOnBrandClicked()">{{'TITLE_APP_TITLE' | translate}}</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown messages-menu">
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-success"
                              ng-if="totalUnseenNotificationMessages">{{totalUnseenNotificationMessages}}</span>
                    </a>
                    <ul class="dropdown-menu">
                       <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" slim-scroll>
                                <li ng-repeat="unseenNotificationMessage in unseenNotificationMessages">
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="https://via.placeholder.com/512x512" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            {{'TITLE_TOPIC_COMMENT' | translate}}
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer" ng-click="ngOnSeeMoreMessageClicked()">
                            <a href>{{'TITLE_SEE_MORE' | translate}}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="fa fa-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"
                        ng-if="!profile">
                        <li ng-click="ngOnLoginClicked()">
                            <a href>{{'TITLE_LOGIN' | translate}}</a>
                        </li>
                        <li ng-click="ngOnRegisterClicked()">
                            <a href>{{'TITLE_REGISTER' | translate}}</a>
                        </li>
                    </ul>
                    <ul class="dropdown-menu"
                        ng-if="profile">
                        <li ng-click="ngOnProfileClicked()">
                            <a href>{{'TITLE_PROFILE' | translate}}</a>
                        </li>
                        <li ng-click="ngOnSignOutClicked()">
                            <a href>{{'TITLE_SIGN_OUT' | translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>