<form name="forgotPasswordForm"
      novalidate
      class="forgot-password-box"
      ng-submit="ngOnForgotPasswordFormSubmitted($event)">
    <div class="col-lg-6 col-md-8">
        <div class="box box-default">
            <div class="box-body">

                <div class="form-group">
                    <img class="img img-responsive"
                         ng-src="{{'https://vgy.me/vpj0on.png'}}"/>

                    <div class="text-center">
                        <h1 class="text-center">
                            <span class="fa fa-envelope"></span> iConfess
                        </h1>
                        <a href="javascript:void(0);">Say everything you want.</a>
                    </div>

                </div>

                <!--Email-->
                <div class="form-group">
                    <div class="col-sm-3">
                        <label>{{'TITLE_EMAIL' | translate}}</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-envelope"></span>
                                    </span>
                                <input class="form-control"
                                       ng-model="forgotPasswordModel.email"
                                       ng-required="true"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Captcha-->
                <div class="col-sm-9 col-sm-push-3">
                    <div class="form-group">
                        <div vc-recaptcha
                             on-create="ngOnWidgetInitialized(widgetId)"
                             ng-model="forgotPasswordModel.captchaCode"></div>
                    </div>
                </div>

                <div class="col-sm-9 col-sm-push-3">
                    <!--Login-->
                    <div class="form-group">
                        <a href
                           ng-click="ngOnLoginClicked()">
                            <span class="fa fa-sign-in"></span> {{'TITLE_LOGIN' | translate}}
                        </a>
                    </div>

                    <!--Register-->
                    <div class="form-group">
                        <a href
                           ng-click="ngOnRegisterClicked()">
                            <span class="fa fa-id-card-o"></span> {{'TITLE_REGISTER' | translate}}
                        </a>
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <div class="text-center">
                    <button class="btn btn-primary"
                            type="submit"
                            ng-disabled="forgotPasswordForm.$invalid">
                        <span class="fa fa-envelop-o"></span> {{'TITLE_SEND_EMAIL' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>