<div ng-init="ngOnInit()" class="box-body">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{'TITLE_CATEGORY' | translate}}</th>
            <th>{{'TITLE_TITLE' | translate}}</th>
            <th>{{'TITLE_TYPE' | translate}}</th>
            <th>{{'TITLE_STATUS' | translate}}</th>
            <th>{{'TITLE_CREATED_TIME' | translate}}</th>
            <th>{{'TITLE_LAST_MODIFIED_TIME' | translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="topic in loadedPersonalTopics.records">
            <td>
                <a href>{{mIdToCategoryMap[topic.categoryId].name}}</a>
            </td>
            <td>
                <a href>{{topic.title}}</a>
            </td>
            <td>
                <a href>{{topic.type | toTopicTypeTitle | translate}}</a>
            </td>
            <td>
                <a href>{{topic.status | toItemStatusTitle | translate}}</a>
            </td>
            <td>
                {{topic.createdTime}}
            </td>
            <td>
                {{topic.lastModifiedTime}}
            </td>
            <td>
                <button class="btn btn-info"
                        ng-click="ngOnViewTopicClicked(topic)">
                    <span class="fa fa-eye"></span>
                </button>

                <button class="btn btn-info"
                        ng-click="ngOnEditTopicClicked(topic)">
                    <span class="fa fa-edit"></span>
                </button>

                <button class="btn btn-danger"
                        ng-click="ngOnDeleteTopicClicked()">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="box-footer text-center">
    <ul uib-pagination
        total-items="loadedPersonalTopics.total"
        ng-model="loadPersonalTopicsCondition.pagination.page"
        ng-change="ngOnTopicsPageChanged()"></ul>
</div>