<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="text-center">
                    <img id="profile-image" class="img img-responsive"
                         ng-src="{{user.photo}}"/>
                </div>
            </div>
            <div class="box-footer text-center"
                 ng-if="ngIsAbleToChangeProfileImage()">
                <button class="btn btn-info"
                        ng-click="ngOnUploadProfileModalClicked()">
                    <span class="fa fa-camera"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

        <!--Email-->
        <div class="row">
            <div class="col-md-3">
                <label>{{'TITLE_EMAIL' | translate}}</label>
            </div>
            <div class="col-md-9">
                <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                    <input class="form-control"
                           ng-model="user.email"
                           ng-disabled="true"/>
                </div>
            </div>
        </div>

        <!--Nick name-->
        <div class="row">
            <div class="col-md-3">
                <label>{{'TITLE_NICKNAME' | translate}}</label>
            </div>
            <div class="col-md-9">
                <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="fa fa-credit-card"></span>
                            </span>
                    <input class="form-control" ng-model="user.nickname" ng-disabled="true"/>
                </div>
            </div>
        </div>

        <!--Password-->
        <div class="row">
            <div class="col-md-3">
                <label>{{'TITLE_PASSWORD' | translate}}</label>
            </div>
            <div class="col-md-9">
                <div class="input-group form-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-key"></span>
                                </span>
                    <input class="form-control" type="password" ng-value="'This is password field'"
                           ng-disabled="true"/>
                    <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            ng-disabled="!ngIsAbleToChangeProfileImage()"
                                            ng-click="ngOnChangePasswordClicked()">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                </span>
                </div>
            </div>
        </div>

        <!--Status-->
        <div class="row">
            <div class="col-md-3">
                <label>{{'TITLE_STATUS' | translate}}</label>
            </div>
            <div class="col-md-9">
                <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="fa fa-sun-o"></span>
                            </span>
                    <select class="form-control"
                            ng-disabled="true"
                            ng-model="user.status"
                            ng-options="item as item | toUserStatus | translate for item in availableUserStatuses">

                    </select>
                </div>
            </div>
        </div>

        <!--Joined time-->
        <div class="row">
            <div class="col-md-3">
                <label>{{'TITLE_JOINED_TIME' | translate}}</label>
            </div>
            <div class="col-md-9">
                <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="fa fa-clock-o"></span>
                            </span>
                    <input class="form-control"
                           ng-disabled="true"
                           value="{{user.joinedTime | amUtc | amLocal | amDateFormat:'MM.DD.YYYY HH:mm'}}">
                </div>
            </div>
        </div>

        <!--Last modified time-->
        <div class="row">
            <div class="col-md-3">
                <label>{{'TITLE_LAST_MODIFIED_TIME' | translate}}</label>
            </div>
            <div class="col-md-9">
                <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="fa fa-clock-o"></span>
                            </span>
                    <input class="form-control"
                           ng-disabled="true"
                           value="{{user.lastModifiedTime | amUtc | amLocal | amDateFormat:'MM.DD.YYYY HH:mm'}}">
                </div>
            </div>
        </div>

        <!--Signature-->
        <div class="row">
            <div class="col-md-3">
                <label>{{'TITLE_SIGNATURE' | translate}}</label>
            </div>
            <div class="col-md-9">
                <div class="form-group"
                     ng-if="user.signature">
                    <div ng-bind-html="user.signature"></div>
                    <!--<textarea ui-tinymce-->
                    <!--ng-model="user.signature"></textarea>-->
                </div>
                <div class="form-group">
                    <button class="btn btn-flat"
                            ng-click="ngOnAddEditUserSignatureClicked()">
                        <span class="fa fa-edit"></span>
                        <span>&nbsp;</span>
                        <span>{{'TITLE_EDIT_SIGNATURE' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Profile upload image-->
<script id="upload-profile-image.html"
        type="text/ng-template">
    <form name="profileImageUploadForm"
          class="box box-info"
          ng-submit="ngOnProfileImageCropped($event, encodedProfileImage, blobProfileImage)"
          novalidate>
        <div class="box-header">
            <h3 class="box-title">{{'TITLE_UPLOAD_PROFILE_IMAGE' | translate}}</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div id="profile-image-editor">
                    <ui-cropper image="originalProfileImage"
                                result-image="encodedProfileImage"
                                result-blob="blobProfileImage"
                                aspect-ratio="1.0"
                                init-max-area="true"
                                result-image-size="{w: 512, h: 512}"
                                canvas-scalemode="full-width"
                                area-type="square"></ui-cropper>
                    <!--Hidden input for image require validation-->
                    <input id="originalProfileImage" name="originalProfileImage" class="hidden"
                           ng-model="encodedProfileImage" ng-required="true">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input id="profileImageSelector" type="file" nv-file-select=""
                           uploader="profileImageUploader"
                           class="form-control" ng-disabled="originalProfileImage"/>
                    <span class="input-group-btn">
                        <button class="btn btn-danger"
                                type="button"
                                ng-disabled="!ngIsAbleToResetCroppedImage(originalProfileImage)"
                                ng-click="ngOnResetOriginalImageClicked()">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="text-center">
                <button class="btn btn-primary"
                        ng-disabled="profileImageUploadForm.$invalid">
                    <span>{{'TITLE_OK' | translate}}</span>
                </button>
                <button class="btn btn-default"
                        type="button"
                        ng-click="ngOnProfileModalCancelClicked()">
                    <span>{{'TITLE_CANCEL' | translate}}</span>
                </button>
            </div>
        </div>
    </form>
</script>

<!--Change password modal-->
<script id="change-password.html"
        type="text/ng-template">
    <form name="changePasswordForm"
          class="box box-info"
          novalidate
          ng-submit="ngOnPasswordSubmitted($event)">
        <div class="box-header">
            <h3 class="box-title"><span class="fa fa-key"></span> {{'TITLE_CHANGE_PASSWORD' | translate}}</h3>
        </div>
        <div class="box-body">

            <div class="form-group">
                <label>{{'TITLE_ORIGINAL_PASSWORD' | translate}}</label>
                <input name="originalPassword"
                       class="form-control"
                       ng-model="originalPassword"
                       type="password"
                       ng-required="true">
            </div>

            <div class="form-group">
                <label>{{'TITLE_NEW_PASSWORD' | translate}}</label>
                <input name="password"
                       class="form-control"
                       ng-model="password"
                       type="password"
                       ng-required="true">
            </div>

            <div class="form-group">
                <label>{{'TITLE_CONFIRM_PASSWORD' | translate}}</label>
                <input name="confirmPassword"
                       class="form-control"
                       type="password"
                       ng-model="confirmPassword"
                       ng-required="true">
            </div>

        </div>
        <div class="box-footer">
            <div class="text-center">
                <button class="btn btn-primary"
                        ng-disabled="changePasswordForm.$invalid">
                    <span>{{'TITLE_OK' | translate}}</span>
                </button>
                <button class="btn btn-default"
                        ng-click="ngOnModalCancelClicked()">
                    <span>{{'TITLE_CANCEL' | translate}}</span>
                </button>
            </div>
        </div>
    </form>
</script>

<!--Profile signature editor-->
<script id="add-edit-user-signature.html"
        type="text/ng-template">
    <form name="addUserSignatureForm"
          class="box box-info"
          novalidate>
        <div class="box-header">
            <h3 class="box-title">
                <b class="fa fa-signing"></b>
                <span>&nbsp;</span>
                <span>{{'TITLE_USER_SIGNATURE' | translate}}</span>
            </h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <uib-tabset active="signatureActiveTab">
                    <uib-tab index="tabNameConstant.signatureContentTabName">
                        <uib-tab-heading>
                            <i class="fa fa-clipboard"></i> {{'TITLE_CONTENT' | translate}}
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="tabNameConstant.signaturePreviewTabName">
                        <uib-tab-heading>
                            <i class="fa fa-eye"></i> {{'TITLE_PREVIEW' | translate}}
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="form-group">
                <ui-tinymce ng-model="addUserSignatureModel.signature"
                            ng-if="signatureActiveTab == tabNameConstant.signatureContentTabName"></ui-tinymce>
                <div ng-bind-html="addUserSignatureModel.signature"
                     ng-if="signatureActiveTab == tabNameConstant.signaturePreviewTabName"></div>
            </div>
        </div>
        <div class="box-footer">
            <div class="text-center">
                <button class="btn btn-flat btn-primary"
                        type="button"
                        ng-disabled="!addUserSignatureForm.$valid"
                        ng-click="ngOnSignatureUpdateClicked($event)">
                    {{'TITLE_OK' | translate}}
                </button>
                <button class="btn btn-flat btn-default"
                        type="button"
                        ng-click="ngOnModalCancelClicked()">
                    {{'TITLE_CANCEL' | translate}}
                </button>
            </div>
        </div>
    </form>
</script>