<div ng-init="ngOnInit()"
     class="box-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{'TITLE_NOTIFICATION_MESSAGE' | translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="notificationMessage in loadNotificationMessagesResult.records">
            <td>{{notificationMessage.message}}</td>
            <td>
                <button class="btn btn-info">
                    <span class="fa fa-eye"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div class="box-footer text-center">
    <ul uib-pagination
        total-items="loadNotificationMessagesResult.total"
        ng-model="loadNotificationMessagesCondition.pagination.page"
        items-per-page="loadNotificationMessagesCondition.pagination.records"
        ng-change="ngOnPageChanged()"></ul>
</div>