<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="text-center">
                                <img id="profile-image" class="img"
                                     ng-src="{{user.photo}}"/>
                            </div>
                        </div>
                        <div class="box-footer text-center">
                            <button class="btn btn-info"
                                    ng-click="ngOnUploadProfileModalClicked()">
                                <span class="fa fa-camera"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

                    <!--Email-->
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{'TITLE_EMAIL' | translate}}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                                <input class="form-control"
                                       ng-model="user.email"
                                       ng-disabled="true"/>
                            </div>
                        </div>
                    </div>

                    <!--Nick name-->
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{'TITLE_NICKNAME' | translate}}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="fa fa-credit-card"></span>
                            </span>
                                <input class="form-control" ng-model="user.nickname" ng-disabled="true"/>
                            </div>
                        </div>
                    </div>

                    <!--Password-->
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{'TITLE_PASSWORD' | translate}}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-key"></span>
                                </span>
                                <input class="form-control" type="password" ng-value="'This is password field'"
                                       ng-disabled="true"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            ng-click="ngOnChangePasswordClicked()">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!--Status-->
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{'TITLE_STATUS' | translate}}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="fa fa-sun-o"></span>
                            </span>
                                <select class="form-control"
                                        ng-model="user.status"
                                        ng-options="item as item | toUserStatus | translate for item in availableUserStatuses">

                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Joined time-->
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{'TITLE_JOINED_TIME' | translate}}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="fa fa-clock-o"></span>
                            </span>
                                <input class="form-control"
                                       ng-disabled="true"
                                       value="{{user.joinedTime | amUtc | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}">
                            </div>
                        </div>
                    </div>

                    <!--Last modified time-->
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{'TITLE_LAST_MODIFIED_TIME' | translate}}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group form-group">
                            <span class="input-group-addon">
                                <span class="fa fa-clock-o"></span>
                            </span>
                                <input class="form-control"
                                       ng-disabled="true"
                                       value="{{user.lastModifiedTime | amUtc | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-info">
            <div class="box-body">
                <uib-tabset active="activeProfileTab" justified="true">
                    <uib-tab index="1" heading="{{'TITLE_TOPIC' | translate}}">
                        <div ng-if="activeProfileTab === 1" ui-view="{{urlStateConstant.profileTopicsModuleName}}"></div>
                    </uib-tab>
                    <uib-tab index="2" heading="{{'TITLE_FOLLOWING_CATEGORY' | translate}}">
                        <div ng-if="activeProfileTab === 2" ui-view="{{urlStateConstant.followingTopicsModuleName}}"></div>
                    </uib-tab>
                    <uib-tab index="3" heading="{{'TITLE_FOLLOWING_TOPIC' | translate}}">
                        <div ng-if="activeProfileTab === 3" ui-view="{{urlStateConstant.followingCategoriesModuleName}}"></div>
                    </uib-tab>
                </uib-tabset>
            </div>



        </div>
    </div>
</div>

<!--Profile upload image-->
<script id="upload-profile-image.html"
        type="text/ng-template">
    <form name="profileImageUploadForm"
          class="box box-info"
          ng-submit="ngOnProfileImageCropped($event, encodedProfileImage, blobProfileImage)"
          novalidate>
        <div class="box-header">
            <h3 class="box-title">{{'TITLE_UPLOAD_PROFILE_IMAGE' | translate}}</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div id="profile-image-editor">
                    <ui-cropper image="originalProfileImage"
                                result-image="encodedProfileImage"
                                result-blob="blobProfileImage"
                                aspect-ratio="1.0"
                                init-max-area="true"
                                result-image-size="{w: 512, h: 512}"
                                canvas-scalemode="full-width"
                                area-type="square"></ui-cropper>
                    <!--Hidden input for image require validation-->
                    <input id="originalProfileImage" name="originalProfileImage" class="hidden" ng-model="encodedProfileImage" ng-required="true">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input id="profileImageSelector" type="file" nv-file-select=""
                           uploader="profileImageUploader"
                           class="form-control" ng-disabled="originalProfileImage"/>
                    <span class="input-group-btn">
                        <button class="btn btn-danger"
                                type="button"
                                ng-disabled="!ngIsAbleToResetCroppedImage(originalProfileImage)"
                                ng-click="ngOnResetOriginalImageClicked()">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="text-center">
                <button class="btn btn-primary"
                        ng-disabled="profileImageUploadForm.$invalid">
                    <span>{{'TITLE_OK' | translate}}</span>
                </button>
                <button class="btn btn-default"
                        type="button"
                        ng-click="ngOnProfileModalCancelClicked()">
                    <span>{{'TITLE_CANCEL' | translate}}</span>
                </button>
            </div>
        </div>
    </form>
</script>

<!--Change password modal-->
<script id="change-password.html"
        type="text/ng-template">
    <form name="changePasswordForm"
          class="box box-info"
          novalidate
          ng-submit="ngOnPasswordSubmitted($event)">
        <div class="box-header">
            <h3 class="box-title"><span class="fa fa-key"></span> {{'TITLE_CHANGE_PASSWORD' | translate}}</h3>
        </div>
        <div class="box-body">

            <div class="form-group">
                <label>{{'TITLE_ORIGINAL_PASSWORD' | translate}}</label>
                <input name="originalPassword"
                       class="form-control"
                       ng-model="originalPassword"
                       type="password"
                       ng-required="true">
            </div>

            <div class="form-group">
                <label>{{'TITLE_NEW_PASSWORD' | translate}}</label>
                <input name="password"
                       class="form-control"
                       ng-model="password"
                       type="password"
                       ng-required="true">
            </div>

            <div class="form-group">
                <label>{{'TITLE_CONFIRM_PASSWORD' | translate}}</label>
                <input name="confirmPassword"
                       class="form-control"
                       type="password"
                       ng-model="confirmPassword"
                       ng-required="true">
            </div>

        </div>
        <div class="box-footer">
            <div class="text-center">
                <button class="btn btn-primary"
                        ng-disabled="changePasswordForm.$invalid">
                    <span>{{'TITLE_OK' | translate}}</span>
                </button>
                <button class="btn btn-default"
                        ng-click="ngOnModalCancelClicked()">
                    <span>{{'TITLE_CANCEL' | translate}}</span>
                </button>
            </div>
        </div>
    </form>
</script>